@charset "UTF-8";
/* Variables */
/* VARIABLES DE COLORES */
/* VARIABLES DE ESPACIADO */
/* TAMAÑOS DE FUENTES */
/* Medias query */
/* Normalizadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c7c7e5; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }

.card {
  background-color: white; }
  .card-title {
    text-align: center;
    font-weight: bold; }
  .card-text {
    text-align: justify; }

.nav-link {
  font-weight: bold;
  color: white; }

/* Utilities */
.bg-principal {
  background-color: #4e4d4d; }

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap; }

.card {
  width: 18rem;
  margin-top: 10px; }
  .card-img {
    height: 200px; }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .card .text-muted {
    font-style: italic;
    font-weight: bold;
    text-align: center; }

.btn, .bg-secondary, .bg-principal {
  border-radius: 4rem;
  border: 2px solid #4e4d4d;
  padding: 8px; }

/* Header */
header {
  background-color: #4e4d4d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  border-bottom: 5px; }
  header .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  header .header_logo_link {
    width: 80%; }
    @media screen and (min-width: 768px) {
      header .header_logo_link {
        width: 25%; } }
  header .header_logo_img {
    width: 100%;
    padding: 1rem; }
  header .header_parrafo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    margin-right: 8px; }
    header .header_parrafo_h1,
    header .header_parrafo h2,
    header .header_parrafo h3 {
      color: white;
      font-weight: bold;
      text-align: center; }
    @media screen and (max-width: 768px) {
      header .header_parrafo .header_parrafo_h1 {
        display: none; } }

.header-navbar {
  background-color: #b2b2f8;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start; }
  .header-navbar .navbar-collapse {
    justify-content: center;
    margin-top: 10px; }
  .header-navbar .nav-pills {
    justify-content: space-around;
    margin: 0 0 5px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
    gap: 1rem; }
  .header-navbar .nav-pills .nav-link.active,
  .header-navbar .nav-pills .nav-link {
    background-color: #4e4d4d;
    border-radius: 4px;
    gap: 1rem; }

@media screen and (max-width: 767.98px) {
  .navbar-toggler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4e4d4d;
    margin: 5px 0 5px 16px;
    width: 160px;
    border-radius: 4px;
    gap: 1rem; }
    .navbar-toggler .button_menu {
      color: white;
      font-size: 1.4 em;
      font-weight: bold;
      margin: 0 5px 5px 0; }
    .navbar-toggler-icon {
      background-image: none;
      margin-top: 5px;
      width: 5%; }
    .navbar-toggler::after {
      font-family: FontAwesome;
      content: "\f0c9";
      color: white; }
  .header-navbar .nav-pills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0; }
  .nav-pills .nav-link.active,
  .nav-pills .nav-link {
    width: 160px; } }

/* Footer */
footer {
  background-color: #4e4d4d;
  margin-top: 10px;
  color: white; }

.footer-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 16px; }
  @media screen and (min-width: 768px) {
    .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start; } }

.footer-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px; }
  @media screen and (max-width: 767.98px) {
    .footer-navbar {
      display: none; } }
  @media screen and (min-width: 768px) {
    .footer-navbar {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; } }

.footer-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px; }
  @media screen and (max-width: 768px) {
    .footer-contacto {
      display: none; } }

.footer-wsp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px; }

.list-group-item {
  background-color: #4e4d4d;
  color: white; }

.fa-brands {
  color: #22a022;
  font-size: 3rem;
  font-weight: bold; }

/* Contenido index */
.carousel-img {
  display: block;
  width: 100%;
  height: 300px; }
  @media screen and (min-width: 1024px) {
    .carousel-img {
      height: 450px; } }

.carousel-caption {
  background-color: rgba(17, 17, 17, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%; }
  @media screen and (min-width: 1024px) {
    .carousel-caption h4 {
      font-size: 50px; } }
  .carousel-caption .carousel-title,
  .carousel-caption .carousel-text {
    padding: 8px; }
  .carousel-caption p {
    font-size: 15px;
    margin: 8px 0 30px 0; }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .carousel-caption p {
        font-size: 20px; } }
    @media screen and (min-width: 1024px) {
      .carousel-caption p {
        font-size: 30px; } }

.bg-secondary {
  font-weight: bold;
  justify-items: center; }

/* Contenido Información útil */
.infoutil-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .infoutil-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
      flex-wrap: wrap;
      margin: 10px 10px 0 16px;
      gap: 1rem; } }
  @media screen and (min-width: 1024px) {
    .infoutil-container {
      margin-left: 100px;
      margin-right: 100px;
      gap: 0; } }
  .infoutil-container .infoutil-img {
    width: 50%;
    align-content: center; }
  .infoutil-container .logo-anses {
    text-align: center; }
  .infoutil-container .infoutil-link {
    font-weight: bold;
    background-color: #4e4d4d;
    padding: 0.6rem;
    border-radius: 4rem; }
    @media screen and (max-width: 576px) {
      .infoutil-container .infoutil-link i {
        display: none; } }

.card-subtitle {
  font-style: italic;
  color: #4e4d4d;
  margin: 5px 0 5px 0; }

/* Contenido Contacto */
.contacto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 1rem; }
  .contacto-container .contacto-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contacto-container h4 {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    background-color: #4e4d4d;
    margin: 10px 10px 0 10px;
    width: 300px; }
    @media screen and (min-width: 768px) {
      .contacto-container h4 {
        width: 400px; } }
    @media screen and (min-width: 1024px) {
      .contacto-container h4 {
        width: 450px; } }
  .contacto-container form {
    border: solid white 2px;
    background-color: rgba(128, 128, 128, 0.519);
    width: 90%;
    margin: 16px; }
    @media screen and (min-width: 768px) {
      .contacto-container form {
        margin-top: 10px; } }
    .contacto-container form h6 {
      font-weight: bold;
      padding-left: 1rem; }
    .contacto-container form .form-container {
      padding: 1rem; }
      .contacto-container form .form-container .form-label {
        font-size: 2.2 em;
        font-weight: bold; }
      .contacto-container form .form-container textarea.form-control {
        height: 100px; }
    .contacto-container form .formcheck-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
    .contacto-container form .form-button {
      text-align: right; }
    .contacto-container form .bg-principal {
      color: white;
      margin: 5px;
      width: 30%;
      padding: 0.5rem; }
  .contacto-container .contacto-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal; }
    .contacto-container .contacto-texto .contacto-mapa {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 10px; }
      @media screen and (min-width: 1024px) {
        .contacto-container .contacto-texto .contacto-mapa {
          margin: 0; } }
      .contacto-container .contacto-texto .contacto-mapa iframe {
        width: 90%;
        margin-top: 10px; }
    .contacto-container .contacto-texto .contacto-horario {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contacto-container .contacto-texto .contacto-horario .horario,
      .contacto-container .contacto-texto .contacto-horario .telefono,
      .contacto-container .contacto-texto .contacto-horario .celular,
      .contacto-container .contacto-texto .contacto-horario .mail {
        background-color: white;
        font-weight: bold;
        width: 90%;
        text-align: center;
        padding: 0.5rem; }
      .contacto-container .contacto-texto .contacto-horario .horario,
      .contacto-container .contacto-texto .contacto-horario .telefono,
      .contacto-container .contacto-texto .contacto-horario .mail {
        margin-top: 10px; }
      .contacto-container .contacto-texto .contacto-horario .telefono {
        margin-bottom: 0; }
      .contacto-container .contacto-texto .contacto-horario .horario::before {
        content: "\f017"; }
      .contacto-container .contacto-texto .contacto-horario .telefono::before {
        content: "\f095"; }
      .contacto-container .contacto-texto .contacto-horario .celular::before {
        content: "\f3cd"; }
      .contacto-container .contacto-texto .contacto-horario .mail::before {
        content: "\f1fa"; }
      .contacto-container .contacto-texto .contacto-horario .horario::before,
      .contacto-container .contacto-texto .contacto-horario .telefono::before,
      .contacto-container .contacto-texto .contacto-horario .celular::before,
      .contacto-container .contacto-texto .contacto-horario .mail::before {
        font-family: FontAwesome;
        margin-right: 5px; }
  @media screen and (min-width: 1024px) {
    .contacto-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      margin: 20px; } }

/* Contenido Servicios */
.servicios-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .servicios-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
      flex-wrap: wrap; } }
  @media screen and (min-width: 1024px) {
    .servicios-container {
      margin-left: 90px;
      margin-right: 90px; } }

/* Contenido Sobre nosotros */
.sobrenos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px; }
  @media screen and (min-width: 768px) {
    .sobrenos-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap; } }
  @media screen and (min-width: 1024px) {
    .sobrenos-container .card-container .card {
      height: 390px; } }
  .sobrenos-container .card-sobrenos .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .sobrenos-container .card-sobrenos .card {
        height: 340px;
        width: 22rem;
        align-items: flex-start; } }
    @media screen and (min-width: 1024px) {
      .sobrenos-container .card-sobrenos .card {
        height: 390px; } }

.estudio-img {
  width: 50%;
  height: 100%;
  border-radius: 0.25rem;
  border: solid black 1px; }

.card-sobrenos .card-body {
  padding-left: 8px;
  padding-top: 0;
  padding-bottom: 0; }
