@charset "UTF-8";
/* Variables */
/* VARIABLES DE COLORES */
/* VARIABLES DE ESPACIADO */
/* TAMAÑOS DE FUENTES */
/* Medias query */
/* Normalizadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c7c7e5; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }

.card {
  background-color: white; }
  .card-title {
    text-align: center;
    font-weight: bold; }
  .card-text {
    text-align: justify; }

.nav-link {
  font-weight: bold;
  color: white; }

/* Utilities */
.bg-jubilacion {
  background-color: #239683; }

.bg-pension {
  background-color: #698f8f; }

.bg-secondary {
  background-color: #6c757d; }

/* Header */
header {
  background-color: #4e4d4d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  border-bottom: 5px; }
  header .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  header .header_logo_link {
    width: 30%; }
  header .header_logo_img {
    width: 100%;
    padding: 1rem; }
  header .header_parrafo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    header .header_parrafo_h1,
    header .header_parrafo h2,
    header .header_parrafo h3 {
      color: white;
      font-weight: bold; }
    header .header_parrafo_h1 {
      text-align: center; }

.header-navbar {
  background-color: #b2b2f8;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start; }
  .header-navbar .navbar-collapse {
    justify-content: center;
    margin-top: 10px; }
  .header-navbar .nav-pills {
    justify-content: space-around;
    margin: 0 0 5px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
    gap: 1rem; }
  .header-navbar .nav-pills .nav-link.active,
  .header-navbar .nav-pills .nav-link {
    background-color: #4e4d4d;
    border-radius: 4px;
    gap: 1rem; }

@media screen and (max-width: 767.98px) {
  .navbar-toggler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4e4d4d;
    margin: 5px 0 5px 16px;
    width: 160px;
    border-radius: 4px;
    gap: 1rem; }
    .navbar-toggler .button_menu {
      color: white;
      font-size: 1.4 em;
      font-weight: bold;
      margin: 0 5px 5px 0; }
    .navbar-toggler-icon {
      background-image: none;
      margin-top: 5px;
      width: 5%; }
    .navbar-toggler::after {
      font-family: FontAwesome;
      content: "\f0c9";
      color: white; }
  .header-navbar .nav-pills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0; }
  .nav-pills .nav-link.active,
  .nav-pills .nav-link {
    width: 160px; } }

/* Footer */
footer {
  background-color: #4e4d4d;
  margin-top: 10px;
  color: white; }

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 16px; }
  @media screen and (min-width: 768px) {
    .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start; } }

.footer-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px; }
  @media screen and (min-width: 768px) {
    .footer-navbar {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; } }

.footer-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px; }
  @media screen and (max-width: 768px) {
    .footer-contacto {
      display: none; } }

.footer-wsp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px; }

.list-group-item {
  background-color: #4e4d4d;
  color: white; }

.fa-brands {
  color: #22a022;
  font-size: 3rem;
  font-weight: bold; }

/* Contenido index */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px; }

.card {
  width: 18rem;
  margin-top: 10px; }
  .card-img {
    height: 200px; }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .card .text-muted {
    font-style: italic; }

.btn, .bg-pension,
.bg-jubilacion, .bg-secondary {
  border-radius: 10px;
  border: 2px solid #4e4d4d;
  padding: 1rem; }

.bg-pension,
.bg-jubilacion {
  font-weight: bold;
  justify-items: center; }

/* Contenido Sobrenosotros */
.carousel-caption {
  background-color: rgba(17, 17, 17, 0.5); }
  .carousel-caption h4 {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem; }
    @media screen and (min-width: 768px) {
      .carousel-caption h4 {
        font-size: 40px;
        line-height: 45px; } }
  .carousel-caption p {
    font-size: 15px;
    margin: 8px 0 30px 0; }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .carousel-caption p {
        font-size: 20px; } }
    @media screen and (min-width: 1024px) {
      .carousel-caption p {
        font-size: 25px; } }

.carousel-img {
  display: block;
  width: 100%;
  margin: 20px 0 0 20px; }

.bg-secondary {
  font-weight: bold;
  justify-items: center; }

/* Contenido Información útil */
.infoutil-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  gap: 2rem; }
  .infoutil-container .infoutil-img {
    width: 80%;
    float: right; }
  .infoutil-container .infoutil-link {
    font-weight: bold;
    background-color: #4e4d4d;
    padding: 0.6rem;
    border-radius: 4rem; }
    @media screen and (max-width: 432px) {
      .infoutil-container .infoutil-link i {
        display: none; } }
  .infoutil-container h4 {
    font-weight: bold; }

.card-subtitle {
  font-style: italic;
  color: #4e4d4d;
  margin: 5px 0 5px 0; }

/* Contenido Contacto */
.contacto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 2rem; }
  .contacto-container h4 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2.5 rem;
    padding: 0.5rem;
    background-color: #4e4d4d;
    margin-left: 10px;
    margin-right: 10px; }
  .contacto-container form {
    width: 50%; }
    .contacto-container form .form-container {
      padding: 1rem; }
      .contacto-container form .form-container .form-label {
        font-size: 2.2 em;
        font-weight: bold; }
      .contacto-container form .form-container textarea.form-control {
        height: 100px; }
    .contacto-container form .form-button {
      text-align: right; }
    .contacto-container form .bg-secondary {
      color: white;
      margin: 5px;
      width: 30%;
      padding: 0.5rem; }
  .contacto-container .contacto-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal; }
    .contacto-container .contacto-texto .contacto-mapa {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: normal; }
    .contacto-container .contacto-texto .contacto-img {
      width: 40%; }
      @media screen and (max-width: 1024px) {
        .contacto-container .contacto-texto .contacto-img {
          display: none; } }
    .contacto-container .contacto-texto iframe {
      width: 50%; }
  @media screen and (min-width: 1024px) {
    .contacto-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin: 20px; } }
