@charset "UTF-8";
/* Variables */
/* VARIABLES DE COLORES */
/* VARIABLES DE ESPACIADO */
/* FAMILIA DE FUENTES */
/* TAMAÑOS DE FUENTES */
/* Normalizadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c7c7e5; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }

/* Mixins */
/* Header */
header {
  background-color: #4e4d4d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 5px;
  padding: 1rem; }
  header .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  header .header_logo_link {
    width: 30%; }
  header .header_logo_img {
    width: 80%; }
  header .header_parrafo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    header .header_parrafo .header_parrafo_h1,
    header .header_parrafo h2,
    header .header_parrafo h3 {
      color: white;
      font-weight: bold; }
    header .header_parrafo .header_parrafo_h1 {
      font-size: 5.2 em; }
    header .header_parrafo_h2 {
      font-size: 2.2 em; }
    header .header_parrafo_h3 {
      font-size: 1.6 em; }

/* & h1,
    h2,
    h3 {
        color: white;
    }

    & .justify-content-evenly {
        background-color: rgb(178, 178, 248);
        margin-top: 5px;

        & .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            background-color: $color_principal;

        }
    }

    .nav-link {
        color: black;
        font-weight: bold;
    } */
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .card-container .card-img-top {
    height: 200px; }
  .card-container .card-text {
    text-align: justify; }

.card-title {
  font-weight: bold;
  text-align: center;
  font-size: 30px; }

.py-4 {
  background-color: #4e4d4d;
  margin-top: 10px;
  color: white; }
  .py-4 h5 {
    color: white;
    text-align: center; }
  .py-4 .list-group-item {
    border-color: #fff;
    background-color: #4e4d4d;
    color: white; }
  .py-4 .nav-link {
    font-weight: bold;
    color: white; }

.fa-brands {
  color: #22a022;
  font-size: 3rem;
  font-weight: bold; }
