/* VARIABLES DE COLORES */

$color_principal:rgb(78, 77, 77);
$color_secondary: #b2b2f8;
$color_alternative: #c7c7e5;
$color_terciary: rgb(53, 22, 100);
$text_color: white;
$jubilacion: #239683;
$pension: #698f8f;
$secondary: #6c757d;

/* VARIABLES DE ESPACIADO */

$spacing_small: 2rem;
$spacing_xsmall:1rem;
$spacing_xxsmall: 8px;

/* TAMAÑOS DE FUENTES */

$text_xlarge: 2.5 rem;
$text_large: 5.2 em;
$text_medium: 2.2 em;
$text_small: 1.6 em;
$text_xsmall: 1.4 em;

/* Medias query */
$celular: 576px;
$tablet: 768px;
$desktop: 1024px;
