/* VARIABLES DE COLORES */

$color_principal:rgb(78, 77, 77);
$color_secondary: #b2b2f8;
$color_alternative: #c7c7e5;
$text_color: white;
$jubilacion: #239683;
$pension: #698f8f;


/* VARIABLES DE ESPACIADO */

$spacing_small: 2rem;
$spacing_xsmall:1rem;

/* FAMILIA DE FUENTES */


/* TAMAÑOS DE FUENTES */

$text_large: 5.2 em;
$text_medium: 2.2 em;
$text_small: 1.6 em;
$text_xsmall: 1.4 em;