.card-container {
    @include flex (row, space-around, none);
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    width: 18rem;
    margin-top: 10px;

    &-img {
        height: 200px;
    }

    &-body {
        @include flex (column, flex-start, center);
    }
    & .text-muted{
        font-style: italic;
    }
}

.btn {
    border-radius: 10px;
    border: 2px solid $color_principal;
    padding: 1rem;
}

.bg-pension,
.bg-jubilacion {
    @extend .btn;
    font-weight: bold;
    justify-items: center;

}