.card-container {
    @include flex (row, space-evenly, stretch);
    flex-wrap: wrap;
}

.card {
    width: 18rem;
    margin-top: 10px;

    &-img {
        height: 200px;
    }

    &-body {
        @include flex (column, space-between, center);
    }

    .text-muted {
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
}

.btn {
    border-radius: 4rem;
    border: 2px solid $color_principal;
    padding: $spacing_xxsmall;
}

.bg-pension,
.bg-jubilacion {
    @extend .btn;
    font-weight: bold;
    justify-items: center;

}