footer {
    background-color: $color_principal;
    margin-top: 10px;
    color: white;

}

.footer-container {
    @include flex (row, space-around, flex-start);
    flex-wrap: wrap;
}

.footer-navbar {
    @include flex (row, space-around, center);
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        @include flex (column, space-around, flex-start);

    }
}

.footer-contacto,
.footer-wsp {
    @include flex (column, space-around, center);
    margin-top: 20px;

}

.list-group-item {
    background-color: $color_principal;
    color: white;
}

.fa-brands {
    color: rgb(34, 160, 34);
    font-size: 3rem;
    font-weight: bold;
}