.py-4 {
    background-color: $color_principal;
    margin-top: 10px;
    color: white;

    & h5 {
        color: white;
        text-align: center;
    }

    & .list-group-item {
        border-color: #fff;
        background-color: $color_principal;
        color: white;
    }

    & .nav-link {
        font-weight: bold;
        color: white;
    }
}

.fa-brands {
    color: rgb(34, 160, 34);
    font-size: 3rem;
    font-weight: bold;
}