header {
    background-color: $color_principal;
    @include flex (column, space-around, stretch);
    flex-wrap: wrap;
    border-bottom: 5px;

    .header_container {
        @include flex (row, space-around, center);
    }

    .header_logo_link {
        width: 30%;
    }

    .header_logo_img {
        width: 100%;
        padding: $spacing_xsmall;
    }

    .header_parrafo {
        @include flex (column, flex-start, center);

        &_h1,
        h2,
        h3 {
            color: $text_color;
            font-weight: bold;
        }

        &_h1 {
            text-align: center;
        }

    }


}

.navbar-expand-lg {
    background-color: $color_secondary;
    margin-bottom: 5px;
    @include flex(column, space-around, flex-start);
    align-content: flex-start;

    .navbar-toggler {
        display: flex;
        align-items: center;
        background-color: $color_principal;
        margin-left: 16px;

        .button_menu {
            color: white;
            font-size: $text_xsmall;
            font-weight: bold;
            margin: 0 5px 5px 0;
        }

        &-icon {
            background-image: none;
            margin-top: 5px;
        }

        &::before {
            font-family: FontAwesome;
            content: "\f0c9";
            color: white;
        }
    }
}

.nav-pills {
    justify-content: space-around;
    margin: 10px 0 0 16px;
    @include flex(column, space-around, stretch);
    align-content: flex-start;
}


.nav-pills .nav-link.active,
.nav-pills .nav-link,
.navbar-toggler {
    background-color: $color_principal;

    @media screen and (min-width: $tablet) {
        border-radius: 4px;
        border: solid 1px $color_principal;

    }
}

.nav-item {
    border: white solid 1px;
}