header {
    background-color: $color_principal;
    @include flex (column, space-around, stretch);
    flex-wrap: wrap;
    border-bottom: 5px;

    .header_container {
        @include flex (row, space-around, center);
    }

    .header_logo_link {
        width: 30%;
    }

    .header_logo_img {
        width: 80%;
        padding: $spacing_xsmall;
    }

    .header_parrafo {
        @include flex (column, flex-start, center);

        &_h1,
        h2,
        h3 {
            color: $text_color;
            font-weight: bold;
        }
    }


}

.menu {
    background-color: $color_secondary;
    margin-bottom: 5px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}

.nav.nav-pills {
    gap: 1rem;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link,
.navbar-toggler {
    border-radius: 4px;
    border: solid 1px $color_principal;
    background-color: $color_principal;
}

.navbar-toggler {
    display: flex;
    align-items: center;

    &-icon {
        background-image: none;
        margin-top: 5px;

        &::before {
            font-family: FontAwesome;
            content: "\f0c9";
            color: white;
        }
    }

}

.button_menu {
    color: white;
    font-size: $text_xsmall;
    font-weight: bold;
    margin: 0 5px 5px 0;
}