.infoutil-container {
    @include flex (column, center, center);
    margin-top: 10px;
    margin-right: 10px;
    gap: $spacing_small;

    .infoutil-img {
        width: 80%;
        float: right;
    }

    .infoutil-link {
        font-weight: bold;
        background-color: $color_principal;
        padding: 0.6rem;
        border-radius: 4rem;

        @media screen and (max-width:$celular) {
            i {
                display: none;
            }
        }
    }

    & h4 {
        font-weight: bold;
    }

}

.card-subtitle {
    font-style: italic;
    color: $color_principal;
    margin: 5px 0 5px 0;
}