.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & .card-img-top {
        height: 200px;
    }
    & .card-title {
        font-weight: bold;
        text-align: center;
        font-size: 30px;
    }
    & .card-text {
        text-align: justify;
    }

}

