.infoutil-container {
    @include flex (column, center, center);

    @media screen and (min-width: $tablet) {
        @include flex (row, space-evenly, stretch);
        flex-wrap: wrap;
        margin: 10px 10px 0 16px;
        gap: $spacing_xsmall;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 100px;
        margin-right: 100px;
        gap: 0;

    }

    .infoutil-img {
        width: 50%;
        align-content: center;
    }

    .logo-anses {
        text-align: center;
    }

    .infoutil-link {
        font-weight: bold;
        background-color: $color_principal;
        padding: 0.6rem;
        border-radius: 4rem;

        @media screen and (max-width:$celular) {
            i {
                display: none;
            }
        }
    }
}

.card-subtitle {
    font-style: italic;
    color: $color_principal;
    margin: 5px 0 5px 0;
}

.bg-principal {
    @extend .btn;
}