.contenido-container {
    @include flex (row, center, center);
}

form {
    margin: 10px;
    width: 50%;

    .form-container {
        padding: $spacing_xsmall;

        .form-label {
            font-size: $text_medium;
            font-weight: bold;
        }

        textarea.form-control {
            height: 100px;
        }

    }

    .form-button {
        text-align: right;

    }

    .bg-secondary {
        color: white;
        margin: 5px;
        width: 30%;
        padding: 0.5rem;
    }
}

.contenido-texto {
    @include flex (row, space-evenly, normal); 
    
    .contenido-img {
        width: 40%;
    }

    & iframe{
        width: 50%;
    }
}