form {
    margin: 10px;
    width: 50%;

    .form-container {
        padding: $spacing_xsmall;

        .form-label {
            font-size: $text_medium;
            font-weight: bold;
        }

        textarea.form-control {
            height: 100px;
        }

    }

    .bg-secondary {
        color: white;
        margin: 5px;
        justify-content: flex-end;
    }







}