* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color_alternative;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $text_color;
}

.card {
    background-color: white;
}

h1 {
    font-size: $text_large;
}

h2 {
    font-size: $text_medium;
}

h3 {
    font-size: $text_small;
}

.nav-link {
    font-weight: bold;
    color: white;
}